<section data-ng-controller="NewsController" data-ng-init="find()" id="list-news">
    <div class="container-fluid list-competition">
        <div class="list-faqs-header">
            <h1 class="sr-only">NEWS</h1>
            <menu class="buttons">
                <li class="btn01">
                    <a href="#!/competitions/create"><span class="sr-only">참가자 등록</span></a>
                </li>
                <li class="btn02">
                    <a href="#!/competitions"><span class="sr-only">참가자 리스트</span></a>
                </li>
            </menu>
        </div>
        <div>
            <img src="modules/news/img/newnotice_tac.png">
        </div>

        <div class="list-group">
            <a data-ng-repeat="news in news" data-ng-href="#!/news/{{news._id}}" class="list-group-item">
    			<h4 class="list-group-item-heading" data-ng-bind="news.name"></h4>
                <p data-ng-bind="news.content"></p>
            </a>
        </div>
    </div>
</section>
