<section data-ng-controller="HomeController">
	<div id="title_container">
		<div id="competition_con">
		  <a href="#!/competitions/create" ><img src="modules/core/img/registration_btn.png"></a>
		  <a href="#!/competitions"><img src="modules/core/img/list_btn.png"></a>
		</div>
		<div id="organization">
			<img src="modules/core/img/organization.png">
		</div>
	</div>
	<div class="competition_main_slogan_con">
		<img src="modules/core/img/middle_text.png">
		<img src="modules/core/img/spaceship.png">
	</div>
	<div id="competition_info_con">
			<div id="competition_main_info_con">
				<div class="container">
					<div id="competition_main_info">
						<p><span>참가 접수</span> 7.1(수)~ 7.31(금) 본 홈페이지에서 접수</p>
						<p><span>참가 자격</span> 신인 창작음악인(정규앨범 발매 3년 이내 1장 이하)</p>
					</div>
					<img id="schedule_line" src="modules/core/img/schedule_line.png">
					<div id="competition_date">
						<img src="modules/core/img/schedule_tac.png">
						<picture id="schedule_info">
							<!--[if IE 9]><video style="display: none;"><![endif]-->	
							<source srcset="modules/core/img/schedule_infographic.png" media="(min-width: 480px)">
							<!--[if IE 9]></video><![endif]-->
							<img id="schedule_info_img" src="modules/core/img/mobile/schedule_infographic.png">
						</picture>
					</div>
				</div>
			</div>

			<div id="competition_award_con">
				<div class="container">
					<img  id ="award_tag" src="modules/core/img/award_tac.png">

					<div class="row">
						<div class="col-md-3 award_con col-xs-11">
							<div class="award_img">
								<img id="" src="modules/core/img/award_01_icon.png">
							</div>
							<div class="award_text">
								<h3>통일부 장관상</h3>
								<p>대상에는 통일부 장관상이 수여됩니다.</p>

							</div>
						</div>
						<div class="col-md-1 col-xs-11"></div>
						<div class="col-md-3 award_con col-xs-11">
							<div class="award_img">
								<img id="" src="modules/core/img/award_02_icon.png">
							</div>
							<div class="award_text">
								<h3>총 상금 1900만원</h3>
								<p><strong><span>대상 (1팀) <span>1000만원</span><span></strong></p>
								<p class="gold_award">금상 (1팀) 500만원</p>
								<p>은상 (2팀) 200만원</p>
							</div>
						</div>
						<div class="col-md-1 col-xs-11"></div>
						<div class="col-md-3 award_con col-xs-11">
							<div class="award_img">
								<img id="" src="modules/core/img/award_03_icon.png">
							</div>
							<div class="award_text">
								<h3>컴필레이션 앨범 참여</h3>
								<p>상위 4팀에게는 컴필레이션 앨범참여의 기회가 주어집니다.</p>
							</div>
						</div>
					</div>
				</div>
		</div>
		<div id="competition_judge_con">

				<img  id ="competition_judge_tag" src="modules/core/img/examiner_tac.png">

				<div class="row">
					<div class="col-md-3 col-xs-11 judge_con">
						<div class="judge_img">
							<img id="" src="modules/core/img/examiner_a.png">
						</div>
						<div class="judge_text">
							<h3>윤일상&nbsp;&nbsp; <span>작곡가,가수</span></h3>
							<p>서울예술실용전문학교 실용음악학부 교수</p>
							<p>MBC 스타오디션-위대한 탄생 심사위원</p>
							<p>SBS 최고 작곡가상 등 수상다수 </p>

						</div>
					</div>
					<div class="col-md-1 col-xs-11"></div>
					<div class="col-md-3 col-xs-11 judge_con">
						<div class="judge_img">
							<img id="" src="modules/core/img/examiner_b.png">
						</div>
						<div class="judge_text">
							<h3>장기호&nbsp;&nbsp;<span>작곡가,가수</span></h3>
							<p>서울예술대학교 실용음악학부 부교수</p>
							<p>MBC 나는 가수다 심사 자문위원장</p>
							<p>그룹 '빛과 소금' 멤버</p>
							<p>그룹 '김현식과 봄여름가을겨울' 멤버</p>
						</div>
					</div>
					<div class="col-md-1 col-xs-11"></div>
					<div class="col-md-3 col-xs-11 judge_con">
						<div class="judge_img">
							<img id="" src="modules/core/img/examiner_c.png">
						</div>
						<div class="judge_text">
							<h3>MC 메타&nbsp;&nbsp;<span>가수</span></h3>
							<p>한국콘서바토리 뮤직프로덕션학과 학과장</p>
							<p>제 9회 한국 대중음악상 노래부문 최우수</p>
							<p>랩 & 힙합 상</p>
							<p>Mnet-Show Me The Money 출연</p>
						</div>
					</div>
				</div>

		</div>
	</div>
</section>
