<section data-ng-controller="HomeController">
	<div id="title_container">
		<div id="competition_con">
		  <a href="#"><img src="modules/core/img/registration_btn.png"></a>
		  <a href="#"><img src="modules/core/img/list_btn.png"></a>
		</div>
		<div id="organization">
			<img src="modules/core/img/organization.png">
		</div>
	</div>
	<div id="competition_info_con">

			<div id="competition_main_info_con">
				<div class="container">
					<div id="competition_main_info">
						<p><span>참가 접수</span> 7.1(수)~ 7.31(금) 본 홈페이지에서 접수</p>
						<p><span>참가 자격</span> 신인 창작음악인(정규앨범 발매 3년 이내 1장 이하)</p>
					</div>
					<img src="modules/core/img/schedule_line.png">
					<div id="competition_date">
						<img src="modules/core/img/schedule_tac.png">
						<img id="schedule_info_img" src="modules/core/img/schedule_infographic.png">
					</div>
				</div>
			</div>
			<div id="competition_award_con">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div>
								<img id="" src="modules/core/img/award_01_icon.png">
							</div>
							<div>
								<p></p>
							</div>
						</div>
						<div class="col-md-4">
							<div>
								<img id="" src="modules/core/img/award_02_icon.png">
							</div>
							<div>
								<p></p>
							</div>
						</div>
						<div class="col-md-4">
							<div>
								<img id="" src="modules/core/img/award_03_icon.png">
							</div>
							<div>
								<p></p>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
</section>
