<section class="row" data-ng-controller="AuthenticationController">
  <div class="signin_container">
    <div class="container-fluid intro_container">
      <div class="signup-list-header">
        <div class="title-text"></div>
        <div class="dummy01"></div>
        <div class="dummy02"></div>
        <div class="dummy03"></div>
      </div>
      <article class="signin_info">
        <h2>
          <img src="/modules/users/img/login_tac.png" alt="로그인">
        </h2>
        
        <div class="signin_form">
          <div class="row">
            <div class="col-md-6">
              <form name="userForm" data-ng-submit="signin()" class="signin form-horizontal" novalidate autocomplete="off">
                <fieldset>
                  <div class="form-group">
                    <input type="email" id="email" name="email" class="form-control signin_button_size" data-ng-model="credentials.email" placeholder="이메일">
                  </div>
                  <div class="form-group">
                    <input type="password" id="password" name="password" class="form-control signin_button_size" data-ng-model="credentials.password" placeholder="패스워드">
                  </div>
                  <div class="form-group">
                    <a href="/auth/signin" class="undecorated-link">
                      <img class="login_button_size" src="/modules/users/img/login_button.png">
                    </a>
                  </div>
                  <div data-ng-show="error" class="text-center text-danger">
                    <strong data-ng-bind="error"></strong>
                  </div>
                </fieldset>
              </form>
            </div>
            <div class="col-md-6">
              <ul class="list-unstyled pull-right">
                <li class="login_button">
                  <a href="/auth/facebook" class="undecorated-link">
                    <img src="/modules/users/img/facebook_login_button.png">
                  </a>
                </li>
                <li class="login_button">          
                  <a href="/auth/twitter" class="undecorated-link">
                    <img src="/modules/users/img/twitter_login_button.png">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
