.content {
  margin-top: 50px;
}

#title_container {
  width: 100%;
  height: 1300px;
  background-image: url('../img/main_bg.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
}

.competition_main_slogan_con {
  height: 200px;
  text-align: center;
}

.competition_main_slogan_con img {
  padding-top: 30px;
}

#competition_con {
  padding-top: 1000px;
}

#competition_con a {
  margin-left: 30px;
}

#organization {
  margin-top: 50px;
}

#competition_info_con {
}

#competition_info_con .container {
  padding-top: 50px;
  width: 90%;
}

#competition_main_info_con {
  background-color: #4d6182;
}

#competition_main_info {
  font-size: 18px;
  color: white;
}

#competition_main_info span {
  color: #22d2a7;
}

#competition_date {
  padding-top: 40px;
  margin-bottom: 40px;
  height: 500px;
}

#schedule_info_img {
  padding-top: 40px;
  margin-left: 40px;
}

#competition_award_con {
  background-color: #22d2a7;
  height: auto;
  padding-bottom: 40px;
}

#competition_award_con .container {
  padding-top: 50px;
  width: 90%;
  padding: 0;
}

#award_tag {
  padding-top: 40px;
}

.award_con {
  border: #4d6182 solid 3px;
  height: 300px;
  margin: 0;
  padding: 0;
  background-color: white;
  text-align: center;
}

#competition_award_con .row {
  padding-top: 40px;
}

.award_img {
  background-color: #4d6182;
  width: 100%;
  height: 150px;
}

.award_img img {
  margin-top: 20px;
  margin-bottom: 20px;
}

.award_text {
  width: 100%;
  font-weight: bold;
}

.award_text p {
  font-size: 14px;
}

.award_text p span {
  font-size: 18px;
  color: #ff6c11;
}

.award_text p span span {
  font-size: 20px;
}

.judge_text h3 {
  color: #ff6c11;
}

.judge_text h3 span {
  color: #4d6182;
  font-size: 14px;
}

.judge_text {
  font-weight: bold;
}
.judge_text_p{
  border-top:3px solid #4d6182;
  padding-top:15px;
}

#competition_judge_con {
  margin-top: 40px;
  margin-bottom: 60px;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}

#competition_judge_tag {
  margin-bottom: 40px;
}

.gold_award {
  margin-bottom: 0;
}

.award_text p:nth-child(2) {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.undecorated-link:hover {
  text-decoration: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.ng-invalid.ng-dirty {
  border-color: #FA787E;
}

.ng-valid.ng-dirty {
  border-color: #78FA89;
}

header .container {
  background: url("../img/global-nav/manubar.png");
  height: 78px;
  width: 1150px;
}

footer {
  height: 230px;
  background-color: #4d6182;
  width: 100%;
}

footer #footer_container {
  color: white;
  font-size: 14px;
}

footer #footer_container img {
  padding-top: 30px;
}

footer #footer_container #footer_info {
  margin-top: 20px;
}

footer #footer_container #footer_info p {
  font-size: 16px;
  margin-bottom: 3px;
}

footer #footer_container #copyright {
  float: right;
  font-size: 12px;
}

footer #footer_container span {
  color: #ff6c11;
}

@media screen and (max-width:480px) {


  .navbar-toggle {
    display: block!important;
    border: 1px solid #333333;
    position: absolute;
    right: 3%;
    background-color: #333333;
  }

  .navbar-brand {
    display: none!important;
  }

  .navbar-inverse {
    display: block;

    min-width: 0px;
    max-width: 480px;
    width: 100%;
    
  }

  .navbar-collapse {
    background-color: #ffffff;
  }

  .navbar-collapse {
    background-color: #ffffff;
  }

  header .container {
    background-image: none;
    background: none;
  }

  .container > .navbar-header{
    width: 100%;
  }

  #title_container {
    height: 376px;
  }

  #competition_con {
    display: none;
  }

  #organization {
    position: relative;
    top: 330px;

    margin: 0px;
  }

  #organization > img {
    width: 90%;
  }

  .content > .container {
    width: 100%;
    padding: 0px;

  }

  .competition_main_slogan_con {
    height: 400px;  
  }

  #competition_main_info span {
    display: block;
  }

  #competition_date > img {
    margin-left: -30px;
  }

  #schedule_line {
    width: 100%;
  }

  #schedule_info_img {
    width: 100%;

    margin-left: 0;
  }

  #award_tag {
    margin-left: -16px;
  }
  
  .award_con {
    display: block;

    float: none;

    margin: 10px auto;
  }
  
  #competition_judge_con {
    margin-bottom: 30px;
  }

  .judge_con {
    display: block;

    margin: 10px auto;
  }

  .judge_img > img {
    width: 100%;
  }
  
  #competition_judge_con > .row > div{
    float: none;
  }

  #inquiry_tac {
    margin-left: -20px;
  }
  
  #copyright {

    float: none !important;

    text-align: center;
  }
}


.join-introduce-award{
  padding: 60px 90px 70px;
  position: relative;
  background-color: #22d2a7;
}
.join-introduce-award h2{
  margin-bottom: 30px !important;
  width: 137px;
  height: 43px;
  background: url('/modules/introduces/img/award_tac.png') 0 0 no-repeat;
}
.join-introduce-award ul{
  margin: 0 0 0 -20px;
  padding: 10px 29px 0 0;
  list-style-type: none;
}
.join-introduce-award li{
  padding: 0 20px;
}
.join-introduce-award li .award-desc{
  height: 355px;
  background: url('/modules/introduces/img/bg-award.png') 0 0 no-repeat;
}
.join-introduce-award .dummy{
  height: 159px;
  background: 50% 50% no-repeat;
}
.join-introduce-award .award01 .dummy{
  background-image: url('/modules/introduces/img/award_01_icon.png');
}
.join-introduce-award .award02 .dummy{
  background-image: url('/modules/introduces/img/award_02_icon.png');
}
.join-introduce-award .award03 .dummy{
  background-image: url('/modules/introduces/img/award_03_icon.png');
}
.join-introduce-award h3{
  margin: 0 0 23px;
  color: #004a98;
  font-size: 24px;
}
.join-introduce-award .context{
  padding: 30px 35px;
}
.join-introduce-award p{
  color: #004a98;
  font-size: 18px;
  line-height: 1.2;
}
.join-introduce-award p strong{
  color: #ff6c11;
}
.join-introduce-award p strong b{
  font-size: 24px;
}
.join-introduce-award > .dummy{
  right: 90px;
  bottom: 25px;
  width: 125px;
  height: 155px;
  position: absolute;
  background: url('/modules/introduces/img/img-join-introduce-award-speasman.png') 0 0 no-repeat;
}
