.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

header .container{
  background: url("/modules/core/img/global-nav/manubar.png");
  height: 78px;
  width: 1150px;
}



footer{
	height : 230px ;
	background-color: #4d6182;
	width:100%;
}

footer #footer_container{
	margin-top:30px;
	color :white;
	font-size:14px;
	height:100px;
}

footer #footer_container #footer_info{
	margin-top: 20px;
}

footer #footer_container #copyright{
	float:right;
	font-size:12px;
}

footer #footer_container span{
	color :#ff6c11;
}
