section {
    height:auto;
}

.container-fluid{
    padding:0;
}
#list-faqs {
  background: url('/modules/competitions/img/sub_bigbanner.jpg') no-repeat 0 0;
    background-size:100%;
}
.list-faqs-header {
  position: relative;
  height: 480px;
  width: 970px;
  margin: 0 auto;
}
.list-faqs-header .buttons {
  bottom: 155px;
  right: 0;
  position: absolute;
}
.list-faqs-header .buttons li {
  display: block;
  padding: 0 0 20px;
}
.list-faqs-header .buttons a {
  display: inline-block;
  width: 242px;
  height: 91px;
  line-height: 107px;
}
.list-faqs-header .buttons .btn01 a {
    background: url('/modules/competitions/img/registration_btn.png') no-repeat 0 0;
    background-size: cover;
}
.list-faqs-header .buttons .btn02 a {
    background: url('/modules/competitions/img/list_btn.png') no-repeat 0 0;
    background-size: cover;
}
.faq_tac_con{
    padding-top:40px;
}

.faq_tac_list{
    width:100%;
    margin-top: 40px;
    margin-bottom: 60px;
}
