<section data-ng-controller="CompetitionsController" data-ng-init="find()">
    <div class="page-header">
        <h1>경연대회</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="competition in competitions" data-ng-href="#!/competitions/{{competition._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="competition.created | date:'medium'"></span>
				by
				<span data-ng-bind="competition.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="competition.name"></h4>
            <youtube-video video-url="competition.teamUrl"></youtube-video>
        </a>
    </div>
    <div>
        <button>이전</button>
        <ul>
            <li>
                <a ng-repeat="pageNumber in pageNumbers" ng-click="setPage(pageNumber)"
                ng-class="{'active': selectedPage == pageNumber}"> {{ pageNumber }}
                 </a>
            </li>
        </ul>
        <button>다음</button>
    </div>

</section>
