<section data-ng-controller="IntroducesController" id="intro_section">
    <div class="container-fluid intro_container">
        <div class="introduces-list-header">
            <div class="dummy01"></div>
            <div class="dummy02"></div>
            <div class="dummy03"></div>
        </div>
        <article id="join_guide">
            <h2>
                <img src="modules/introduces/img/registerinfo_tac.png" alt="참가방법">
                <em>(접수기간: 2015년 7월 1일 - 7월 31일 까지)<br/></em>
            </h2>
            <ul class="row">
                <li class="col-xs-12 col-sm-3 reg01">
                    <div class="block">
                        <div class="dummy"></div>
                        <h3>유니뮤직레이스<br>공식 홈페이지에</h3>
                        <p>
                            <strong>회원가입</strong><br>
                            &lt;유니뮤직레이스 2015&gt; 에<br>
                            관해 궁금하신 사항은 이메일<br>
                            unimusic2015@gmail.com<br>
                            으로 문의 부탁드립니다.
                        </p>
                    </div>
                </li>
                <li class="col-xs-12 col-sm-3 reg02">
                    <div class="block">
                        <div class="dummy"></div>
                        <h3>유튜브에<br>참가곡 영상 등록</h3>
                        <p>
                            온라인 심사가 가능한<br>
                            퀄리티의 영상을 만들어<br>
                            주세요.
                        </p>
                    </div>
                </li>
                <li class="col-xs-12 col-sm-3 reg03">
                    <div class="block">
                        <div class="dummy"></div>
                        <p>
                            1. 공식 홈페이지<br>기본 프로필을<br>작성 후 <b>참가 신청</b>
                        </p>
                        <p>
                            2. 참가곡의 <b>유튜브<br>영상 URL을 등록</b>
                        </p>
                    </div>
                </li>
                <li class="col-xs-12 col-sm-3 reg04">
                    <div class="block">
                        <div class="dummy"></div>
                        <p>
                            참가 신청 완료 후<br>
                            본인의 개별 페이지가<br>
                            생성되고 홈페이지에<br>
                            정식 게시됩니다.<br>
                            <b>7월 31일 참가신청<br>
                            종료 후 페이지 수정 불가</b>
                        </p>
                    </div>
                </li>
            </ul>
        </article>
        <article id="join_info">
            <h2>
                <img src="modules/introduces/img/registerinfo_tac.png" alt="참가자 준비사항 안내">
            </h2>
            <p>
                1) 유니뮤직레이스 홈페이지 회원가입<br>
                2) 참가곡 영상 유튜브 등록<br>
                3) 팀 프로필 사진 및 설명글 준비
            </p>
        </article>
        <div class="common-button"><a href="#!/competitions/create" class="btn-registration"><span class="sr-only">참가자 등록</span></a></div>
    </div>
</section>
