<section data-ng-controller="CompetitionsController" data-ng-init="find()" id="list-competition">
    <div class="container-fluid list-competition">
        <div class="list-competition-header">
            <h1 class="sr-only">경연대회</h1>
            <menu class="buttons">
                <li class="btn01">
                    <a href="#!/competitions/create"><span class="sr-only">참가자 등록</span></a>
                </li>
                <li class="btn02">
                    <a href="#!/competitions"><span class="sr-only">참가자 리스트</span></a>
                </li>
            </menu>
        </div>
        <div class="list-group">
            <div class="headline headline-top4">
                <h2><span class="sr-only">오늘의 인기팀 TOP4</span></h2>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-3">
                    <div class="context">
                        <div class="thumbnail-view"></div>
                        <div class="info-view"></div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="context">
                        <div class="thumbnail-view"></div>
                        <div class="info-view"></div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="context">
                        <div class="thumbnail-view"></div>
                        <div class="info-view"></div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="context">
                        <div class="thumbnail-view"></div>
                        <div class="info-view"></div>
                    </div>
                </div>
            </div>
            <div class="headline headline-application">
                <h2><span class="sr-only">참가팀</span></h2>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-3" data-ng-repeat="competition in competitions | limitTo:12" data-ng-href="#!/competitions/{{competition._id}}" class="list-group-item">
                    <div class="context">
                        <div class="thumbnail-view" ><youtube-video video-url="competition.teamUrl" class="team_video"></youtube-video></div>
                        <a data-ng-href="#!/competitions/{{competition._id}}"><div class="info-view" data-ng-bind="competition.name"></div></a>
                    </div>
                </div>
            </div>
            <!-- <a data-ng-repeat="competition in competitions | limitTo:3" data-ng-href="#!/competitions/{{competition._id}}" class="list-group-item">
    			<small class="list-group-item-text">
    				Posted on
    				<span data-ng-bind="competition.created | date:'medium'"></span>
    				by
    				<span data-ng-bind="competition.user.displayName"></span>
    			</small>
    			<h4 class="list-group-item-heading" data-ng-bind="competition.name"></h4>
                <youtube-video video-url="competition.teamUrl"></youtube-video>
            </a> -->
        </div>

        <!-- 페이지네이션 -->
        <div class="pagination-wrap">
            <pagination items-per-page="3" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>
        </div>
    </div>
</section>
