#list-competition {
  background: url('/modules/competitions/img/banner.png') no-repeat 0 0;
}
#list-competition h2 {
  padding: 0;
  margin: 0;
}
#list-competition .pagination-wrap {
  padding-bottom: 10px;
  text-align: center;
}
.list-competition-header {
  position: relative;
  height: 480px;
  width: 970px;
  margin: 0 auto;
}
.list-competition-header .buttons {
  bottom: 155px;
  right: 0;
  position: absolute;
}
.list-competition-header .buttons li {
  display: block;
  padding: 0 0 20px;
}
.list-competition-header .buttons a {
  display: inline-block;
  width: 242px;
  height: 91px;
  line-height: 107px;
}
.list-competition-header .buttons .btn01 a {
    background: url('/modules/competitions/img/registration_btn.png') no-repeat 0 0;
    background-size: cover;
}
.list-competition-header .buttons .btn02 a {
    background: url('/modules/competitions/img/list_btn.png') no-repeat 0 0;
    background-size: cover;
}
.list-group {
  width: 970px;
  margin: 0 auto;
}
.list-group .headline {
  margin-top: 40px;
  padding-bottom: 15px;
  border-bottom: 3px solid #4d5e8a;
}
.list-group .headline h2 {
  width: 252px;
  height: 48px;
}
.list-group .headline-top4 h2 {
  background: url('/modules/competitions/img/celeb_top4_tac.png') no-repeat 0 0;
}
.list-group .headline-application h2 {
  background: url('/modules/competitions/img/application_tac.png') no-repeat 0 0;
}
.list-group .row {
  margin: 15px -5px;
}
.list-group .row > div {
  padding: 5px;
}
.list-group .context {
  height: 310px;
  background-color: #4e6182;
}
.list-group .context .thumbnail-view {
  background-color: #e1e1e1;
  height: 235px;
}

.button {
    -moz-appearance: button;
    /* Firefox */
    -webkit-appearance: button;
    /* Safari and Chrome */
    padding: 10px;
    margin: 10px;
    width: 70px;
}
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 65px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}
.dragover {
    border: 5px dashed blue;
}


/* 마이페이지 */

.mypage_section{
 background-image: url('../img/bg.jpg');
}

.mypage_section .page-header{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height :500px;
    background-color: white;
    border:4px solid #4d6182;
}
.mypage_section .page-header .row{
    margin-top: 40px;
}

.band_video{

    width: 96%;
    float:right;
}
.teamImg{
    width: 100%;
    height:150px;
}
.like_con button{
    background: none;
    outline: 0;
    border: 0;
}

.comment_con{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:50px;
    width: 95%;
    height :600px;
    background-color: white;
    border:4px solid #4d6182;
}

.comment_sub_con{
    width: 90%;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}
.commen_line{
    width: 100%;
}

.comment_input{
    height:80px;
    font-size:18px;
    width: 100%;
}

.commen_add_btn{
    width: 100%;
    height:80px;
    background-color: #22d2a7;
    outline: 0;
    border: 0;
    font-size: 18px;
    font-weight:bold;
}

.comment_content{
    font-size:18px;
    margin: 20px 0px;
    border-bottom:1px solid gray;
}

.notice-description{  
  text-align: right;
}
.agree-description{
  text-align: left;
  margin: 20px 0px;
}

.agree-radio{
  display:inline;
  margin-right:30px;
}

.team_video{
    width: 100%;
    height:235px;
}
.info-view{
    color:white;
    font-size:18px;
    text-align: center;
}

.message_desc{
  
  height:130px;
  width:440px;
  border-top: 5px solid gray;
  margin-left:15px;
  padding:10px;
}
.band_name{
  margin-top:115px;
  margin-left:50px;
  
}

.like_button_desc{
/*  border:1px solid red;*/
  height:15px;
  margin:10px;
}

.pagination_comment{
  
}

.pagination-centered{
  text-align: center;
}
