<section data-ng-controller="MypagesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Mypages</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="mypage in mypages" data-ng-href="#!/mypages/{{mypage._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="mypage.created | date:'medium'"></span>
				by
				<span data-ng-bind="mypage.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="mypage.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!mypages.$resolved || mypages.length">
    	No Mypages yet, why don't you <a href="/#!/mypages/create">create one</a>?
    </div>
</section>